
h2 {
    font-family:'Courier New', Courier, monospace;
    color:white;
    font-size: 28px;
    display: inline;
   
}
h1 {
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:white;

    
}
h3 {

    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:white;
}
body {
    background-image: url(https://images.pexels.com/photos/262786/pexels-photo-262786.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: top right;
    margin: 0 0 0 0;
 
}

.top-container{
    padding: 20px 15px 20px 15px; 
    text-align: center;
    word-spacing: 25px;
    background-color: black;

    


}